[submodule "JUCE"]
	path = thirdparty/JUCE/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "thirdparty/pd.build"]
	path = thirdparty/pd.build
	url = https://github.com/pierreguillot/pd.build
[submodule "pd/externals/IIR-Filter"]
	path = plugins/pd/pd/externals/IIR-Filter
	url = https://github.com/Barabas5532/IIR-Filter.git
[submodule "thirdparty/libpd"]
	path = thirdparty/libpd/libpd
	url = https://github.com/libpd/libpd.git
